<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Change Password</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link th:href="@{/centerContainer.css}" rel="stylesheet" />
	<link th:href="@{/header.css}" rel="stylesheet" />
	<link th:href="@{/general.css}" rel="stylesheet" />
	<style>
		.btn-info {
			background-color: rgb(158, 202, 216);
			border-color: rgb(158, 202, 216);
		}
	</style>
</head>

<body>
	<div class="header">
		<a th:href="@{/}" class="logo">Thangiah Dance Company</a>
		<div class="header-right">
			<a th:href="@{/logout}">Sign Out</a>
		</div>
	</div>

	<div class="centerContainer">
		<h1>Change Password</h1>

		<!-- Error Message -->
		<div th:if="${error}" class="alert alert-danger">
			<p th:text="${error}"></p>
		</div>

		<!-- Success Message -->
		<div th:if="${success}" class="alert alert-success">
			<p th:text="${success}"></p>
		</div>

		<!-- Form to change password -->
		<form th:action="@{/changePassword}" method="post">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}" />

			<div class="form-group">
				<label>Old Password:</label>
				<input type="password" name="oldPassword" class="form-control" placeholder="Old Password" required>
			</div>

			<div class="form-group">
				<label>New Password:</label>
				<input type="password" name="newPassword" class="form-control" placeholder="New Password"
					pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=!])(?=\S+$).{8,}$"
					title="Password must be at least 8 characters long, contain at least one digit, one lowercase letter, one uppercase letter, and one special character (@#$%^&+=!)"
					required>
				<br><small>
					Password must be:
					<ul>
						<li>at least 8 characters long</li>
						<li>contain at least one digit</li>
						<li>contain at least one lowercase letter</li>
						<li>contain at least one uppercase letter</li>
						<li>contain at least one special character (@#$%^&+=!)</li>
					</ul>
				</small>
			</div>

			<br>
			<div class="d-grid gap-2 col-8 mx-auto">
				<input type="submit" value="Change Password" class="btn btn-info btn-sm">
				<a th:href="@{/login}" class="btn btn-secondary btn-sm">Go to Login</a>
			</div>
		</form>
	</div>
</body>

</html>