<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Parent Dashboard</title>
	<link th:href="@{/header.css}" rel="stylesheet" />
	<link th:href="@{/general.css}" rel="stylesheet" />
	<link th:href="@{/calendar.css}" rel="stylesheet" />
	<link th:href="@{/centerContainer.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			var calendarEl = document.getElementById('calendar');
			var calendar = new FullCalendar.Calendar(calendarEl, {
				initialView: 'dayGridMonth',
				events: [
					{
						title: 'Recital',
						start: '2023-11-15'
					},
					{
						title: 'Party',
						start: '2023-11-28'
					},
					{
						title: 'Graduation',
						start: '2023-12-09'
					},
					{
						title: 'Party',
						start: '2023-11-14'
					},
					{
						title: 'Open Class',
						start: '2023-11-20'
					},
				]
			});
			calendar.render();
		});
	</script>
	<style>
		.btn-info {
			background-color: rgb(158, 202, 216);
			border-color: rgb(158, 202, 216);
		}

		.btn {
			width: 400px;
		}

		.name {
			font-size: 15;
			color: rgb(80, 138, 158);
			text-align: center;
		}

		h3 {
			color: rgb(128, 138, 141);
		}
	</style>
</head>

<body>
	<div class="header">
		<a th:href="@{/}" class="logo">Thangiah Dance Company</a>
		<div class="header-right">
			<a class="active" th:href="@{/dashboards}">Home</a>
			<a th:href="@{/account}">Account</a>
			<a th:href="@{/logout}">Sign Out</a>
		</div>
	</div>
	<div class="container-fluid">
		<h2 class="name">Welcome <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>!</h2>
		<div class="row mt-3">
			<div class="col-md-4">
				<div id="calendar"></div>
			</div>

			<div class="col-md-8">
				<div class="dashboard-container">
					<h2>Parent Controls</h2>
					<div class="d-grid gap-2 justify-content-center">
						<a class="btn btn-info" th:href="@{/schedule}">View Class Schedule</a>
						<a class="btn btn-info" th:href="@{/parent/selectChild}">View Child's Activities</a>
						<a class="btn btn-info" th:href="@{/parentPayment}">Make Payment</a>
						<!--<a class="btn btn-info" th:href="@{/parent}">Child Profile</a>-->
					</div>
				</div>

				<div class="dashboard-container">
					<h2>Account Balance</h2>
					<h3>$<span th:text="${#numbers.formatDecimal(balance, 1, 'COMMA', 2, 'POINT')}"></span></h3>
					<h2>Transaction History</h2>
					<div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
						style="position: relative; height: 200px">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Transaction ID</th>
									<th>Transaction Date | Time</th>
									<th>Amount</th>
									<th>Payment Type</th>
									<th>Check Number</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="transaction : ${transactions}">
									<td th:text="${transaction.transactionID}" />
									<td th:text="${#temporals.format(transaction.transactionTime, 'MM/dd/yyyy | hh:mm a')}" />
									<td
										th:text="'$ ' + ${#numbers.formatDecimal(transaction.amount, 1, 'COMMA', 2, 'POINT')}" />
									<td th:text="${transaction.paymentType}" />
									<td th:text="${transaction.checkNumber}" />
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>