<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Payment Error</title>
	<link th:href="@{/centerContainer.css}" rel="stylesheet" />
	<link th:href="@{/header.css}" rel="stylesheet" />
	<link th:href="@{/general.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>

<body>
	<div class="header">
		<a th:href="@{/}" class="logo">Thangiah Dance Company</a>
		<div class="header-right">
			<a class="active" th:href="@{/dashboards}">Home</a>
			<a th:href="@{/account}">Account</a>
			<a th:href="@{/logout}">Sign Out</a>
		</div>
	</div>
	<div class="centerContainer">
		<h2>Error With Payment</h2>
		<br>
		<div class="d-grid gap-2 col-8 mx-auto">
			<a th:href="@{/manager/selectParent}" class="btn btn-danger">Try Again</a>
			<a th:href="@{/dashboards}" class="btn btn-secondary btn-sm">Back to Dashboard</a>
		</div>
	</div>
</body>

</html>