<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Registration Success</title>
	<link th:href="@{/header.css}" rel="stylesheet" />
	<link th:href="@{/centerContainer.css}" rel="stylesheet" />
	<link th:href="@{/general.css}" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<tbody>
	<div class="header">
		<a th:href="@{/}" class="logo">Thangiah Dance Company</a>
		<div class="header-right">
			<a class="active" th:href="@{/dashboards}">Home</a>
			<a th:href="@{/account}">Account</a>
			<a th:href="@{/logout}">Sign Out</a>
		</div>
	</div>

	<div class="centerContainer">
		<h2>Account Created Successfully!</h2>
		<br>
		<div class="d-grid gap-2 col-8 mx-auto">
			<a th:href="@{/login}">Click Here to Login</a>
		</div>
	</div>
</tbody>

</html>