<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Homepage</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<link th:href="@{/header.css}" rel="stylesheet" />
	<link th:href="@{/centerContainer.css}" rel="stylesheet" />
	<link th:href="@{/general.css}" rel="stylesheet" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>


</head>

<body>
	<div class="header">
		<a th:href="@{/}" class="logo">Thangiah Dance Company</a>
		<div class="header-right">
			<a class="active" th:href="@{/dashboards}">Home</a>
			<a th:href="@{/register}">Register</a>
			<a th:href="@{/login}">Login</a>
			<a th:href="@{/contactUs}">Contact Us</a>
		</div>
	</div>

	<img src="https://static01.nyt.com/images/2023/09/17/multimedia/17new-listings-dance-01-ctgf/17new-listings-dance-01-ctgf-videoSixteenByNine3000.jpg"
		alt="dance pic" width="100%">
</body>

</html>