<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Locations</title>

	<link th:href="@{/header.css}" rel="stylesheet" />
	<link th:href="@{/centerContainer.css}" rel="stylesheet" />
	<link th:href="@{/tables.css}" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
		integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
</head>

<body>
	<div class="header">
		<a th:href="@{/}" class="logo">Thangiah Dance Company</a>
		<div class="header-right">
			<a class="active" th:href="@{/dashboards}">Home</a>
			<a th:href="@{/register}">Register</a>
			<a th:href="@{/login}">Login</a>
			<a th:href="@{/locations}">Locations</a>
			<a th:href="@{/instructors}">Instructors</a>
		</div>
	</div>

	<section class="intro" style="margin-top: -50px">
		<div class="bg-image h-100">
			<div class="mask d-flex align-items-center h-100">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-12">
							<div class="card">
								<div class="card-body p-0">
									<div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true"
										style="position: relative; height: 240px">
										<table class="table table-striped mb-0">
											<thead style="background-color: #6c757d">
												<tr>
													<th>Studio ID</th>
													<th>Location Name</th>
													<th>Address 1</th>
													<th>Address 2</th>
													<th>City</th>
													<th>State</th>
													<th>Zip</th>
													<th>Phone Number</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="loc: ${location}">
													<td th:text="${loc.studioID}" />
													<td th:text="${loc.locationName}" />
													<td th:text="${loc.address}" />
													<td th:text="${loc.address2}" />
													<td th:text="${loc.city}" />
													<td th:text="${loc.state}" />
													<td th:text="${loc.zip}" />
													<td th:text="${loc.phoneNum}" />
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>